@charset "utf-8";
/* CSS Document */

	
body{
	background-color:#CCC;/*背景色*/
	}
		
.container{
	width:960px;/*盒子宽度为960*/
	height:450px;/*盒子高度为450,如果注释掉则会根据内容高度自适应*/
	margin:60px auto;/*上下外边距为60，左右外边距自适应，会居中*/
}

.pic{
	width:150px;/*设置每个pic的宽度为150*/
}

.container img{
	padding:10px 10px 10px;/*顶部内边距 左右内边距 底部内边距*/
	background:white;/*颜色*/
	box-shadow:5px 5px 3px rgba(50,50,50,0.4);/*阴影左移5，下移5，虚化3，颜色和透明度*/
	transition:all 0.5s;/*最后添加过度效果*/
	}
	
/*设置每张图片的倾斜角度*/
.pic1{
	transform:rotate(-5deg);
}

.pic2{
	transform:rotate(-20deg);
}

.pic3{
	transform:rotate(5deg);
}

.pic4{
	transform:rotate(0deg);
}

.pic5{
	transform:rotate(-15deg);
}

.pic6{
	transform:rotate(-5deg);
}

.pic7{
	transform:rotate(10deg);
}

.pic8{
	transform:rotate(15deg);
}

.pic9{
	transform:rotate(-10deg);
}

/*添加鼠标事件*/
.container img:hover{
	transform:rotate(0deg) scale(1.2);/*角度为0，放大到1.2倍，回头去添加过度效果*/
	box-shadow:5px 5px 3px rgba(50,50,50,1);
}
			